<<div class="animated fadeInUp" style="animation-delay: 0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="container-fluid InputContainer">
        <div class="title">
          Second Page
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Create</mat-grid-tile>
  <mat-grid-tile>View</mat-grid-tile>
  <mat-grid-tile>Delete</mat-grid-tile>
  </mat-grid-list>-->

<div style="padding:20px" fxLayout="row wrap" fxLayoutAlign="start top" fxLayoutGap="20px">

  <div class="sub-menu-card" fxFlex="noshrink">
    <mat-card  class="animated fadeIn delay_2">
      <img src="../../assets/images/api-payments.png">
      <mat-card-content>
        <div class="title">Utility Bills</div>
        <p>
           utility bill
        </p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary"  [routerLink]="m.route">SHOW</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
