<nav class="row navbar animated fadeInDown fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home">
        <span class="logo"><img src="assets/images/BlenderDesktopLogo.png" ></span>
        <span class="name"><span class="man">RECORD APPLICATION</span></span>
      </a>
      <app-hamburger-menu></app-hamburger-menu>
    </div>

    <div class="navbar-right text-right">
      <app-user-avatar></app-user-avatar>
    </div>
  </div>
</nav>
