<div class="animated fadeInUp">

  <!--<div class="col-sm-12">-->
    <!--Form Container - START-->
    <div class="form-container billInputContainer">
      <div class="tbl-header">
        Electricity Bill
      </div>

      <form class="form-horizontal" #billForm="ngForm" novalidate
            (ngSubmit)="onSubmition(billForm)" autocomplete="off">
        <div class="form-group row" [ngClass]="{'has-danger': isAccountNoError}">
          <label class="control-label col-sm-2">Bill Account Number <span>*</span></label>
          <div class="col-sm-6">
            <input class="form-control"
                   type="text"
                   autocomplete="off"
                   placeholder="Bill Account Number"
                   name="name"
                   #nameRef="ngModel"
                   required
                   [(ngModel)]="accountNo"
                   (input)="isAccountNoValid($event.target.value)">
            <span class="error" *ngIf="isAccountNoError">{{accountNoError}}</span>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': isPeriodError}">
          <label class="control-label col-sm-2">Period in Days <span>*</span></label>
          <div class="col-sm-6">
            <input class="form-control"
                   type="text"
                   autocomplete="off"
                   placeholder="Period"
                   name="description"
                   #descriptionRef="ngModel"
                   required
                   [(ngModel)]="period"
                   (input)="isPeriodValid($event.target.value)">
            <span class="error" *ngIf="isPeriodError">{{periodError}}</span>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': isPreviousReadingError}">
          <label class="control-label col-sm-2">Previous Reading <span>*</span></label>
          <div class="col-sm-6">
            <input class="form-control"
                   type="number"
                   autocomplete="off"
                   placeholder="Previous Reading"
                   name="description"
                   #descriptionRef="ngModel"
                   required
                   [(ngModel)]="previousReading"
                   (input)="isPreviousReadingValid($event.target.value)">
            <span class="error" *ngIf="isPreviousReadingError">{{previousReadingError}}</span>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': isCurrentReadingError}">
          <label class="control-label col-sm-2">Current Reading <span>*</span></label>
          <div class="col-sm-6">
            <input class="form-control"
                   type="number"
                   autocomplete="off"
                   placeholder="Current Reading"
                   name="description"
                   #descriptionRef="ngModel"
                   required
                   [(ngModel)]="currentReading"
                   (input)="isCurrentReadingValid($event.target.value)">
            <span class="error" *ngIf="isCurrentReadingError">{{currentReadingError}}</span>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': isNoOfUnitsError}">
          <label class="control-label col-sm-2">No. of Units <span>*</span></label>
          <div class="col-sm-6">
            <input class="form-control"
                   type="number"
                   autocomplete="off"
                   placeholder="No. of Units"
                   name="description"
                   #descriptionRef="ngModel"
                   required
                   [(ngModel)]="noOfUnits"
                   (input)="isNoOfUnitsValid($event.target.value)">
            <span class="error" *ngIf="isNoOfUnitsError">{{noOfUnitsError}}</span>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': isAmountError}">
          <label class="control-label col-sm-2">Amount <span>*</span></label>
          <div class="col-sm-6">
            <input class="form-control"
                   type="number"
                   autocomplete="off"
                   placeholder="Amount"
                   name="description"
                   #descriptionRef="ngModel"
                   required
                   [(ngModel)]="amount"
                   (input)="isAmountValid($event.target.value)">
            <span class="error" *ngIf="isAmountError">{{amountError}}</span>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': isLocationError}">
          <label class="control-label col-sm-2">Location <span>*</span></label>
          <div class="col-sm-6">
            <input class="form-control"
                   type="text"
                   autocomplete="off"
                   placeholder="Location"
                   name="description"
                   #descriptionRef="ngModel"
                   required
                   [(ngModel)]="location"
                   (input)="isLocationValid($event.target.value)">
            <span class="error" *ngIf="isLocationError">{{locationError}}</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2 btnContainer">
            <button type="submit" class="btn btn-primary animated fadeIn">Add</button>
            &nbsp;
            <a class="btn btn-warning" (click)="reloadPage()">Clear</a>
          </div>
        </div>

      </form>

    </div>
</div>
